<!DOCTYPE html>
<html>

<head>
    <title>Camera Preview</title>
    <meta http-equiv="refresh" content="5">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .flex {
            display: flex;
            flex-direction: column
        }

        .camera {
            margin: auto;
            width: 100%;
            max-width: 800px;
            max-height: 600px;
        }

        .center {
            text-align: center
        }
    </style>
</head>

<body class="flex">
    <h1 class="center">Raspberry Pi Camera Preview</h1>
    <img class="camera" src="/video_feed" alt="Camera Preview">
    <div class="center">
        <p>Temperature: {temperature}C</p>
        <p>Humidity: {humidity} %</p>
        <p>Last motion: {last_motion_str}</p>
        <hr>
        <p>CPU: {cpu_temp}</p>
    </div>

    <div class="center">
        <button onclick="fetch('/update_settings?shutter_speed=1&gain=1', {method: 'POST'})">Normal</button>
        <button onclick="fetch('/update_settings?shutter_speed=10&gain=2', {method: 'POST'})">Night 1</button>
        <button onclick="fetch('/update_settings?shutter_speed=20&gain=3', {method: 'POST'})">Night 2</button>
        <button onclick="fetch('/update_settings?shutter_speed=30&gain=4', {method: 'POST'})">Night 3</button>
        <button onclick="fetch('/update_settings?shutter_speed=40&gain=5', {method: 'POST'})">Night 4</button>
        <button onclick="fetch('/update_settings?shutter_speed=60&gain=6', {method: 'POST'})">Night 5</button>
        <button onclick="fetch('/update_settings?shutter_speed=70&gain=7', {method: 'POST'})">Night 6</button>
        <button onclick="fetch('/take_photo', {method: 'POST'})">Take Photo</button>
    </div>
</body>

</html>